<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hisense.quartzdemo.mapper.JobConfigurationMapper">
    <resultMap id="BaseResultMap" type="com.hisense.quartzdemo.entity.JobConfiguration">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="job_name" jdbcType="VARCHAR" property="jobName"/>
        <result column="job_group" jdbcType="VARCHAR" property="jobGroup"/>
        <result column="cron_expression" jdbcType="VARCHAR" property="cronExpression"/>
        <result column="job_class" jdbcType="VARCHAR" property="jobClass"/>
    </resultMap>


    <select id="selectAll" resultMap="BaseResultMap">
        SELECT *
        FROM job_configuration
    </select>

    <insert id="insert" parameterType="com.hisense.quartzdemo.entity.JobConfiguration">
        INSERT INTO job_configuration(job_name, job_group, cron_expression, job_class)
        VALUES (#{jobName}, #{jobGroup}, #{cronExpression}, #{jobClass})
    </insert>

    <!-- 更多CRUD操作 -->

</mapper>